@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Robotik Bilim</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu rhoncus libero. Suspendisse dignissim neque justo, et porttitor erat ultrices sit amet. Duis interdum sapien ac vulputate rhoncus. Mauris tempor iaculis turpis, a elementum ante elementum non. Praesent sodales lorem in lacinia varius. Sed vel massa in urna pulvinar consequat. Mauris molestie, tortor non ultricies vestibulum, magna quam sollicitudin ex, sed vulputate ipsum tortor sit amet nunc. Donec eros velit, blandit ut metus eu, rutrum sagittis ex. Sed vel metus mollis, ornare magna id, rhoncus mi. Cras laoreet eu libero sit amet finibus. Aliquam eu erat sit amet tellus pharetra vehicula. Morbi sit amet rhoncus velit. Vestibulum scelerisque luctus neque vitae iaculis.</p>
</div>
